<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">  
</head>
<body>
    <div class="main-content"> 
        {{>header}}
        <p>Use this site get your Weather</p>
        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-one"></p>
        <p id="message-summary"></p>
        <p id="message-temperature"></p>
        <p id="message-other-summary"></p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>